name: Laravel CI demo
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: app

    steps:
       - name: Checkout
         uses: actions/checkout@v4
       - name: install PHP
         run: |
             sudo apt update
             sudo apt install -y php8.3
       - name: installer dépendences
         run: |
            composer install
            npm install

       - name: Tests Laravel
         run: php artisan test
         
       - name: Fin du workflow
         run: echo"::notice::Tous les test laravel sont passé avec succés"
